<html>

<head>
   <title>CTA WAVE - Test Content</title>
   <meta charset="UTF-8">
   <meta name="viewport" content="width = device-width, initial-scale = 1">
   <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/pure-min.css">
   <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
   <link rel="stylesheet" href="styles/main.css">


</head>


<body>
   <div id="app">
      <div class="pure-menu pure-menu-horizontal menu">
         <a href="#" class="pure-menu-heading pure-menu-link">
            <img class="pure-img-responsive" src="img/wave-logo-reverse-350x110.png"></img>
         </a>

         <ul class="pure-menu-list">
            <li class="pure-menu-item">
               <a href="https://github.com/cta-wave/Test-Content" class="pure-menu-link">Github</a>
            </li>
            <li class="pure-menu-item">
               <a href="#" class="pure-menu-link">Search Syntax</a>
            </li>
            <li class="pure-menu-item">
               <form class="pure-form">
                  <fieldset>
                     <input v-model="search" type="text" placeholder="Search..." />
                     <label for="default-remember">
                        <button v-on:click="searchInDB" class="pure-button pure-button-primary">Search</button>
                  </fieldset>
               </form>
            </li>
         </ul>

      </div>
      <div class="pure-g" id='playerWapper'>

         <div class="pure-u-1-3">
            <p></p>
         </div>
         <div class="pure-u-1-3">
            <p>
               <video id="videoPlayer" controls></video></p>
         </div>
         <div class="pure-u-1-3">
            <p></p>
         </div>

      </div>
      <h1>AVC Dataset</h1>
      <div class="pure-g">
         <div class="pure-u-1 pure-u-xl-1">
            <table class="pure-table">
               <thead>
                  <tr>
                     <th>File</th>
                     <th>Resolution</th>
                     <th>Framerate</th>
                     <th>Type</th>
                     <th>Bitrate</th>
                     <th>Mezzanine</th>
                     <th>VUI Timing</th>
                     <th>Fragment Type</th>
                     <th>SEI</th>
                     <th>Segment Duration</th>
                     <th>Play</th>
                  </tr>
               </thead>
               <tbody>
                  <tr v-for="(item, index) in results" :key="index">
                     <td><a v-bind:href="`${baseURL}${item.mpdPath}`">{{ item.mpdPath }}</a></td>
                     <td>{{ item.resolution }}</td>
                     <td>{{ item.framerate }}</td>
                     <td>{{ item.visualSampleEntry }}</td>
                     <td>{{ item.bitrateInKbps }} Kbps</td>
                     <td>{{ item.mezzanineInput }}</td>
                     <td>{{ item.hasVUITiming }}</td>
                     <td>{{ item.fragmentType }}</td>
                     <td>{{ item.hasSEI }}</td>
                     <td>{{ item.segmentDuration }}</td>
                     <td><button class="play" v-on:click="play(baseURL + item.mpdPath)">Play</button></td>
                  </tr>

               </tbody>
            </table>

         </div>
      </div>
   </div>
   </div>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
   <script src="http://cdn.dashjs.org/latest/dash.all.min.js"></script>
   <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
   <script src="http://cdn.dashjs.org/latest/dash.all.min.js"></script>
   <script src="js/app.js"></script>
</body>

</html>