<html>

<head>
   <title>CTA WAVE - Test Content</title>
   <meta charset="UTF-8">
   <meta name="viewport" content="width = device-width, initial-scale = 1">
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
   <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
   <link rel="stylesheet" href="styles/main.css">
</head>

<dialog id="eulaDialog">
   <div class="popup">
      <form method="dialog">
         <p>
         <b>WAVE TEST MATERIAL USER AGREEMENT</b>
         <br/><br/>
         This user agreement (the “License ”) is entered into and is effective as of the date of content download between you (“Test Material User”) and the Consumer Technology Association (CTA)® located at 1919 South Eads Street, Arlington, VA 22202.
         <br/><br/>
         <b>WHEREAS</b>, CTA Web Application Video Ecosystem (“WAVE”) is an industry project on voluntary consensus technical standards and best practices for commercial internet video interoperability, organized and sponsored by CTA. The WAVE project provides encoded, digital entertainment audio and video content which may be used for testing purposes to verify conformance to WAVE Standards (“Test Material”).
         <br/><br/>
         <b>TERMS:</b>
         <br/><br/>
         1.  <u>License</u>. In consideration of the terms set forth below, CTA grants Test Material User license to use the Test Material for WAVE testing purposes subject to <a href="https://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 Public Licensure</a> (“CCA 4.0”).  Test Material User receives no patent, trademark or other similar rights in the Test Material under this License.
         <br/><br/>
         2. <u>Media Format.</u> The license granted includes the right to change the media format of the Test Material.  
         <br/><br/>
         3.  <u>No Additional Restrictions.</u> Test Material User may not apply legal terms or technological measures to the Test Material or any derivative works that legally or practically restrict other users from doing anything that would otherwise be permitted if they licensed the Test Material directly from CTA. 
         <br/><br/>
         4.	<u>Ownership.</u> For purposes of this public license, Test Material User shall make no claim as to any ownership interest in the Test Materials or any portion thereof.
         <br/><br/>
         5.  <u>No Endorsement.</u>  Nothing in this License constitutes or may be construed as permission to assert or imply that Test Material Users are, or that Test Material Users’ use of the Test Material is, connected with, or sponsored, endorsed, or granted official status by, CTA or others designated to receive attribution.
         <br/><br/>
         6. <u>Attribution.</u>  When using the Test Material, Test Material Users must comply with CCA 4.0 Section 3. Test Material User must not in any way suggest that CTA endorses Test Material User or its use of the Test Material.
         <br/><br/>
         7.  <u>Disclaimer of Warranties/Limitation of Liability.</u>
         <br/><br/>
         a.	CTA offers the Test Material as-is and as-available and makes no representations or warranties of any kind concerning the Test Material, whether express, implied, statutory, or other. This includes, without limitation, warranties of title, merchantability, fitness for a particular purpose, non-infringement, absence of latent or other defects, accuracy, or the presence or absence of errors, whether or not known or discoverable. 
         <br/><br/>
         b.	To the extent possible, in no event will CTA be liable to Test Material User on any legal theory (including, without limitation, negligence) or otherwise for any direct, special, indirect, incidental, consequential, punitive, exemplary, or other losses, costs, expenses, or damages arising out of this License or use of the Test Material, even if CTA has been advised of the possibility of such losses, costs, expenses, or damages. 
         <br/><br/>
         c.	The disclaimer of warranties and limitation of liability provided above shall be interpreted in a manner that, to the extent possible, most closely approximates an absolute disclaimer and waiver of all liability.
         <br/>
         d.	Indemnity.  Test Material User shall indemnify and hold CTA harmless against and from any third-party claim resulting from Test Material User’s use of the Test Materials. 
         <br/><br/>
         e.	IN NO EVENT SHALL CTA BE LIABLE TO COMPANY FOR AN AMOUNT IN EXCESS OF THE AMOUNT OF FEES PAID BY COMPANY UNDER THIS AGREEMENT FOR THE CALENDAR YEAR IN QUESTION BASED ON ANY CLAIM ARISING OUT OF OR RELATED TO THIS AGREEMENT, REGARDLESS OF WHETHER THE CLAIM IS BASED ON WARRANTY, CONTRACT, TORT OR ANY OTHER LEGAL THEORY.
         <br/><br/>
         8.  <u>Other Terms and Conditions.</u>
         <br/><br/>
         a.	CTA shall not be bound by any additional or different terms or conditions communicated by Test Material User unless expressly agreed in writing.
         <br/><br/>
         b.	CCA 4.0 as integrated into this License contains the complete and exclusive statement of the agreement between the parties and supersedes all prior agreements and understandings (whether oral or written) between the parties.  This License may not be modified or amended except in a writing executed by both parties that refers to this License.  
         <br/><br/>
         9.  <u>Interpretation.</u>
         <br/><br/>
         a.	To the extent possible, if any provision of this License is deemed unenforceable, it shall be automatically reformed to the minimum extent necessary to make it enforceable. If the provision cannot be reformed, it shall be severed from this License without affecting the enforceability of the remaining terms and conditions.
         <br/><br/>
         b.	No term or condition of this License will be waived and no failure to comply consented to unless expressly agreed to by CTA in writing.
         <br/><br/>
         c.	Nothing in this License constitutes or may be interpreted as a limitation upon, or waiver of, any privileges and immunities that apply to CTA or Test Material User, including from the legal processes of any jurisdiction or authority.
         <br/><br/>
         10.  <u>Governing Law.</u> This Agreement and all its rights and obligations of the parties relating hereto will be governed by and construed in accordance with the internal laws of the Commonwealth of Virginia without giving effect to any conflicts of law rules that would cause the application of the laws of any other jurisdiction. Any controversy or claim arising out of or relating to this Agreement or the breach thereof (except for an action for injunctive relief) may be resolved by arbitration held in Arlington County, Commonwealth of Virginia, in accordance with Rules of the American Arbitration Association in effect at the time the arbitration is initiated, and judgment upon the award rendered by the arbitrators may be entered in any court jurisdiction thereof, Company agrees to submit to the exclusive jurisdiction of the State and Federal courts in the Commonwealth of Virginia.
         <br/><br/>
         11.  <u>Miscellaneous.</u>  The parties to this Agreement are independent contractors with respect to each other, and nothing in this Agreement shall create any association, partnership, joint venture or agency relationship between the parties.  
         </p>
         <div>
            <button id="acceptEula" value="default">I accept</button>
         </div>
      </form>
   </div>
</dialog>

<div id="popup1" class="overlay">
   <div class="popup">
      <h2>Search Syntax</h2>
      <a class="close" href="#">&times;</a>
      <div class="content">
         <p>You can browse files directly, or just use the simple search syntax that is available in the search field on
            the top of the page.</p>

         <p>For example, if you want to isolate files that have a 5 second segment duration just type
            <code>segmentDuration==5</code>, if you want to search files with segmentDuration at 5 and fragmentType at
            "duration", just type <code>segmentDuration==5:fragmentType==duration</code>.</p>

         <p>The <code>:</code> character acts as a logical <b>AND</b></p>
      </div>
   </div>
</div>

<body>
   <div id="app">

      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
         <a class="navbar-brand" href="#"><img src="img/wave-logo-reverse-350x110.png"></img></a>
         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
         </button>

         <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
               <li class="nav-item">
                  <a class="nav-link" target="_blank" href="https://github.com/cta-wave/Test-Content">Github</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" href="#popup1">Search Syntax</a>
               </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
               <input class="form-control mr-sm-2" v-model="search" type="text" placeholder="Search...">
               <button class="btn btn-outline-success my-2 my-sm-0" v-on:click="searchInDB">Search</button>
            </form>
         </div>
      </nav>
      <div id='playerWapper' class="mb-5 ">
         <div class="row h-100">
            <div class="col">
            </div>
            <div class="col-5 text-center h-100 align-self-center">
               <video class="h-100 align-self-center" id="videoPlayer" controls></video>
            </div>
            <div class="col">
            </div>
         </div>
      </div>
      <div class="container">
         <div class="row">
            <div class="col">
            </div>
            <div class="col-10 text-center h-100 align-self-center">

               <ul class="nav nav-tabs">
                  <li class="nav-item">
                    <a class="nav-link active"  id="cfhd-tab" data-toggle="tab" href="#cfhd" role="tab" >CFHD</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" id="cfhd-cenc-tab" data-toggle="tab" href="#cfhd-cenc" role="tab" >CFHD-CENC</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" id="cfhd-splicing-tab" data-toggle="tab" href="#cfhd-splicing" role="tab" >CFHD-SPLICING</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active"  id="chdf-tab" data-toggle="tab" href="#chdf" role="tab" >CHDF</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" id="caac-tab" data-toggle="tab" href="#caac" role="tab" >CAAC</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" id="ceac-tab" data-toggle="tab" href="#ceac" role="tab" >CEAC</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" id="ca4s-tab" data-toggle="tab" href="#ca4s" role="tab" >CA4S</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" id="caaa-tab" data-toggle="tab" href="#caaa" role="tab" >CAAA</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" id="camc-tab" data-toggle="tab" href="#camc" role="tab" >CAMC</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" id="dts1-tab" data-toggle="tab" href="#dts1" role="tab" >DTS1</a>
                  </li>
                </ul>

               <div class="tab-content" id="myTabContent">
                  <table class="table tab-pane fade show active" id="cfhd" role="tabpanel" aria-labelledby="cfhd-tab">
                     <thead class="thead-dark">
                        <tr>
                           <th scope="col">File</th>
                           <th scope="col">Representations</th>
                           <th scope="col">VSE</th>
                           <th scope="col">VUI Timing</th>
                           <th scope="col">Fragment Type</th>
                           <th scope="col">Picture SEI Timing Message</th>
                           <th scope="col">Segment Duration</th>
                           <th scope="col">Play</th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr v-for="(item, index) in results_cfhd" :key="index">
                           <td scope="row"><a v-bind:href="`${item.mpdPath}`">{{ item.mpdPath }}</a></td>
                           <td>
                              <ol>
                                 <li v-for="(rep, idx) in item.representations" :key="idx">{{ rep }}</li>
                              </ol>
                           </td>
                           <td>{{ item.visualSampleEntry }}</td>
                           <td>{{ item.hasVUITiming }}</td>
                           <td>{{ item.fragmentType }}</td>
                           <td>{{ item.hasSEI }}</td>
                           <td>{{ item.segmentDuration }}</td>
                           <td><button class="play btn btn-success" v-on:click="play(item.mpdPath)">Play</button></td>
                        </tr>
                     </tbody>
                  </table>
                  <table class="table tab-pane fade show active" id="cfhd-cenc" role="tabpanel" aria-labelledby="cfhd-cenc-tab">
                     <thead class="thead-dark">
                        <tr>
                           <th scope="col">File</th>
                           <th scope="col">Representations</th>
                           <th scope="col">VSE</th>
                           <th scope="col">VUI Timing</th>
                           <th scope="col">Fragment Type</th>
                           <th scope="col">Picture SEI Timing Message</th>
                           <th scope="col">Segment Duration</th>
                           <th scope="col">DRM</th>
                           <th scope="col">KID</th>
                           <th scope="col">Key</th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr v-for="(item, index) in results_cfhd_cenc" :key="index">
                           <td scope="row"><a v-bind:href="`${item.mpdPath}`">{{ item.mpdPath }}</a></td>
                           <td>
                              <ol>
                                 <li v-for="(rep, idx) in item.representations" :key="idx">{{ rep }}</li>
                              </ol>
                           </td>
                           <td>{{ item.visualSampleEntry }}</td>
                           <td>{{ item.hasVUITiming }}</td>
                           <td>{{ item.fragmentType }}</td>
                           <td>{{ item.hasSEI }}</td>
                           <td>{{ item.segmentDuration }}</td>
                           <td>ClearKey</td>
                           <td>J5kmSWp_XSXaafKzsnmafw</td>
                           <td>ABEiM0RVZneImaq7zN3u_w</td>
                        </tr>
                     </tbody>
                  </table>
                  <table class="table tab-pane fade show active" id="cfhd-splicing" role="tabpanel" aria-labelledby="cfhd-splicing-tab">
                     <thead class="thead-dark">
                        <tr>
                           <th scope="col">File</th>
                           <th scope="col">Representations</th>
                           <th scope="col">VSE</th>
                           <th scope="col">VUI Timing</th>
                           <th scope="col">Fragment Type</th>
                           <th scope="col">Picture SEI Timing Message</th>
                           <th scope="col">Segment Duration</th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr v-for="(item, index) in results_cfhd_splicing" :key="index">
                           <td scope="row"><a v-bind:href="`${item.mpdPath}`">{{ item.mpdPath }}</a></td>
                           <td>
                              <ol>
                                 <li v-for="(rep, idx) in item.representations" :key="idx">{{ rep }}</li>
                              </ol>
                           </td>
                           <td>{{ item.visualSampleEntry }}</td>
                           <td>{{ item.hasVUITiming }}</td>
                           <td>{{ item.fragmentType }}</td>
                           <td>{{ item.hasSEI }}</td>
                           <td>{{ item.segmentDuration }}</td>
                        </tr>
                     </tbody>
                  </table>
                  <table class="table tab-pane fade show active" id="chdf" role="tabpanel" aria-labelledby="chdf-tab">
                     <thead class="thead-dark">
                        <tr>
                           <th scope="col">File</th>
                           <th scope="col">Representations</th>
                           <th scope="col">VSE</th>
                           <th scope="col">VUI Timing</th>
                           <th scope="col">Fragment Type</th>
                           <th scope="col">Picture SEI Timing Message</th>
                           <th scope="col">Segment Duration</th>
                           <th scope="col">Play</th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr v-for="(item, index) in results_chdf" :key="index">
                           <td scope="row"><a v-bind:href="`${item.mpdPath}`">{{ item.mpdPath }}</a></td>
                           <td>
                              <ol>
                                 <li v-for="(rep, idx) in item.representations" :key="idx">{{ rep }}</li>
                              </ol>
                           </td>
                           <td>{{ item.visualSampleEntry }}</td>
                           <td>{{ item.hasVUITiming }}</td>
                           <td>{{ item.fragmentType }}</td>
                           <td>{{ item.hasSEI }}</td>
                           <td>{{ item.segmentDuration }}</td>
                           <td><button class="play btn btn-success" v-on:click="play(item.mpdPath)">Play</button></td>
                        </tr>
                     </tbody>
                  </table>
                  <table class="table tab-pane fade show active" id="caac" role="tabpanel" aria-labelledby="caac-tab">
                     <thead class="thead-dark">
                        <tr>
                           <th scope="col">File</th>
                           <th scope="col">Representations</th>
                           <th scope="col">Channel Layout</th>
                           <th scope="col">Chunks per Fragment</th>
                           <th scope="col">'trun' version</th>
                           <th scope="col">Edit List</th>
                           <th scope="col">Segment Duration</th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr v-for="(item, index) in results_caac" :key="index">
                           <td scope="row"><a v-bind:href="`${item.mpdPath}`">{{ item.mpdPath }}</a></td>
                           <td>
                              <ol>
                                 <li v-for="(rep, idx) in item.representations" :key="idx">{{ rep }}</li>
                              </ol>
                           </td>
                           <td>{{ item.channel }}</td>
                           <td>{{ item.chunksPerFragment }}</td>
                           <td>{{ item.trunVersion }}</td>
                           <td>{{ item.editList }}</td>
                           <td>{{ item.segmentDuration }}</td>
                        </tr>
                     </tbody>
                  </table>
                  <table class="table tab-pane fade show active" id="ceac" role="tabpanel" aria-labelledby="ceac-tab">
                     <thead class="thead-dark">
                        <tr>
                           <th scope="col">File</th>
                           <th scope="col">Representations</th>
                           <th scope="col">Channel Layout</th>
                           <th scope="col">Chunks per Fragment</th>
                           <th scope="col">'trun' version</th>
                           <th scope="col">Edit List</th>
                           <th scope="col">Segment Duration</th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr v-for="(item, index) in results_ceac" :key="index">
                           <td scope="row"><a v-bind:href="`${item.mpdPath}`">{{ item.mpdPath }}</a></td>
                           <td>
                              <ol>
                                 <li v-for="(rep, idx) in item.representations" :key="idx">{{ rep }}</li>
                              </ol>
                           </td>
                           <td>{{ item.channel }}</td>
                           <td>{{ item.chunksPerFragment }}</td>
                           <td>{{ item.trunVersion }}</td>
                           <td>{{ item.editList }}</td>
                           <td>{{ item.segmentDuration }}</td>
                        </tr>
                     </tbody>
                  </table>
                  <table class="table tab-pane fade show active" id="ca4s" role="tabpanel" aria-labelledby="ca4s-tab">
                     <thead class="thead-dark">
                        <tr>
                           <th scope="col">File</th>
                           <th scope="col">Representations</th>
                           <th scope="col">Channel Layout</th>
                           <th scope="col">Chunks per Fragment</th>
                           <th scope="col">'trun' version</th>
                           <th scope="col">Edit List</th>
                           <th scope="col">Segment Duration</th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr v-for="(item, index) in results_ca4s" :key="index">
                           <td scope="row"><a v-bind:href="`${item.mpdPath}`">{{ item.mpdPath }}</a></td>
                           <td>
                              <ol>
                                 <li v-for="(rep, idx) in item.representations" :key="idx">{{ rep }}</li>
                              </ol>
                           </td>
                           <td>{{ item.channel }}</td>
                           <td>{{ item.chunksPerFragment }}</td>
                           <td>{{ item.trunVersion }}</td>
                           <td>{{ item.editList }}</td>
                           <td>{{ item.segmentDuration }}</td>
                        </tr>
                     </tbody>
                  </table>
                  <table class="table tab-pane fade show active" id="caaa" role="tabpanel" aria-labelledby="caaa-tab">
                     <thead class="thead-dark">
                        <tr>
                           <th scope="col">File</th>
                           <th scope="col">Representations</th>
                           <th scope="col">Channel Layout</th>
                           <th scope="col">Chunks per Fragment</th>
                           <th scope="col">'trun' version</th>
                           <th scope="col">Edit List</th>
                           <th scope="col">Segment Duration</th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr v-for="(item, index) in results_caaa" :key="index">
                           <td scope="row"><a v-bind:href="`${item.mpdPath}`">{{ item.mpdPath }}</a></td>
                           <td>
                              <ol>
                                 <li v-for="(rep, idx) in item.representations" :key="idx">{{ rep }}</li>
                              </ol>
                           </td>
                           <td>{{ item.channel }}</td>
                           <td>{{ item.chunksPerFragment }}</td>
                           <td>{{ item.trunVersion }}</td>
                           <td>{{ item.editList }}</td>
                           <td>{{ item.segmentDuration }}</td>
                        </tr>
                     </tbody>
                  </table>
                  <table class="table tab-pane fade show active" id="camc" role="tabpanel" aria-labelledby="camc-tab">
                     <thead class="thead-dark">
                        <tr>
                           <th scope="col">File</th>
                           <th scope="col">Representations</th>
                           <th scope="col">Channel Layout</th>
                           <th scope="col">Chunks per Fragment</th>
                           <th scope="col">'trun' version</th>
                           <th scope="col">Edit List</th>
                           <th scope="col">Segment Duration</th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr v-for="(item, index) in results_camc" :key="index">
                           <td scope="row"><a v-bind:href="`${item.mpdPath}`">{{ item.mpdPath }}</a></td>
                           <td>
                              <ol>
                                 <li v-for="(rep, idx) in item.representations" :key="idx">{{ rep }}</li>
                              </ol>
                           </td>
                           <td>{{ item.channel }}</td>
                           <td>{{ item.chunksPerFragment }}</td>
                           <td>{{ item.trunVersion }}</td>
                           <td>{{ item.editList }}</td>
                           <td>{{ item.segmentDuration }}</td>
                        </tr>
                     </tbody>
                  </table>
                  <table class="table tab-pane fade show active" id="dts1" role="tabpanel" aria-labelledby="dts1-tab">
                     <thead class="thead-dark">
                        <tr>
                           <th scope="col">File</th>
                           <th scope="col">Representations</th>
                           <th scope="col">Channel Layout</th>
                           <th scope="col">Chunks per Fragment</th>
                           <th scope="col">'trun' version</th>
                           <th scope="col">Edit List</th>
                           <th scope="col">Segment Duration</th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr v-for="(item, index) in results_dts1" :key="index">
                           <td scope="row"><a v-bind:href="`${item.mpdPath}`">{{ item.mpdPath }}</a></td>
                           <td>
                              <ol>
                                 <li v-for="(rep, idx) in item.representations" :key="idx">{{ rep }}</li>
                              </ol>
                           </td>
                           <td>{{ item.channel }}</td>
                           <td>{{ item.chunksPerFragment }}</td>
                           <td>{{ item.trunVersion }}</td>
                           <td>{{ item.editList }}</td>
                           <td>{{ item.segmentDuration }}</td>
                        </tr>
                     </tbody>
                  </table>
               </div>

            </div>
            <div class="col">
            </div>
         </div>      
      </div>

   </div>
   </div>

   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
      integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
      crossorigin="anonymous"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
      integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
      crossorigin="anonymous"></script>
   <script src="https://cdn.dashjs.org/latest/dash.all.min.js"></script>
   <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
   <script src="https://cdn.dashjs.org/latest/dash.all.min.js"></script>
   <script src="js/app.js"></script>
   <script src="js/eula.js"></script>
</body>

</html>