body {
    height: 100%;
    width: 95%;
    color: #eee;
    margin: auto;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

h1 {
    color: #2A3F54;
}

p {
    color: #2A3F54;
    margin: auto;
}

ul, li {
    color: #2A3F54;
    margin: auto;
    margin-top: 0.5%;
    margin-bottom:0.5%;
    font-size: 14px;
}

a {
    color: #73879C;
}