html, body {
  margin: 0;
  height: 100%;
}

#playerWapper {
  margin: 0;
  height: 300px;
  background-color: #2b2b2b;

}


h1,
h2,
h3,
h4,
h5,
h6,
label {
    color: #34495e;
}

.pure-img-responsive {
    max-width: 100%;
    height: auto;
}

body {
    line-height: 1.7em;
    color: #7f8c8d;
    font-size: 13px;
}

.pure-menu-list {
    text-align: center;
}

.menu a {
    color: #6FBEF3;
}
.menu a {
    color: white;
}

.menu li a:hover,
.menu li a:focus {
    background: none;
    border: none;
    color: #AECFE5;
}

td a {
    color: #6FBEF3;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  
  .popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
  }
  
  .popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
  }
  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .popup .close:hover {
    color: #06D85F;
  }
  .popup .content {
    max-height: 30%;
    overflow: auto;
  }